@charset "UTF-8";

p {
	color: green;
  font-family: Constantia, "Lucida Bright","DejaVu serif", Georgia, "serif";
  font-size: 16px;
  line height: 18px;
  width: 600;
  background-color: antiquewhite;
  padding: 20px;
}
h1,h2{
  font-family: Gotham;"Helvetica Neue", Helvetica, Arial, "sans-serif";
  color: cadetblue;

}

span{color: rgb(255, 0, 255 / 1.0);}
body{
  background-image: url();
}
a{

  color: black;
  background-color: white;
  padding: 5px;
  line-height: 40px;
  border: 1px solid #000000;
}
a:hover {
  background-color: darkgray;
}
